header{background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url(8ì›”.jpeg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;}